@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Quicksand&family=Source+Sans+Pro&display=swap');

.App {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
}

.Poppins {
  font-family: 'Poppins', sans-serif !important;
}